<!DOCTYPE html>
<html>
  <head>
    <title>What We Watch</title>

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/ico/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="/static/img/thumb.png" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
      <!--<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
      <!--<link href="/static/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">-->
    <link rel="stylesheet" href="/static/css/whatwewatch.css" media="screen">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lobster' type='text/css'>
  </head>
  <body>

<div id="yt-alert" class="alert alert-warning" style="display:none;">
</div>

<div id="yt-content" class="container">

  <div class="row">
    <div class="col-md-12">
        <a href="http://civic.mit.edu/" class="pull-right"><img src="/static/img/c4cm-badge.gif" alt="MIT Center for Civic Media"/></a>
        <h1>What We Watch <small>exploring <div id="yt-controls"></div> popular YouTube videos</small></h1>
    </div>
  </div>
    
  <div id="yt-map-container">
  </div>

  <div id="yt-connection-info" class="panel panel-default" style="display:none">
  </div>

  <div id="yt-info-box" class="panel panel-default" style="display:none">
  </div>

  <div id="yt-progress-bar" class="panel panel-default">
    <div class="panel-body">
      <h2>Loading...</h2>
      <div class="progress progress-striped active">
        <div class="progress-bar" role="progressbar" style="width: 100%"></div>
      </div>
    </div>
  </div>

</div>

<!-- templates -->
<script type="text/template" id="yt-map-template">
</script>
<script type="text/template" id="yt-connection-info-template">
  <div class="panel-heading">
    <button type="button" class="close yt-close-btn" aria-hidden="true">&times;</button>
    <h2>Watched in <%=country1%> and <%=country2%></h2>
  </div>
  <div class="panel-body">
    <div class="row"><div class="col-md-12"><p><b><%=percent%>%</b> of the top videos watched in <%=country1%> are also watched in <%=country2%>. Here are the top videos that are watched in <b>both</b> places.</p></div></div>
    <div class="row"><div class="col-md-12"><ul class="yt-video-item-list"></ul></div></div>
  </div>
</script>
<script type="text/template" id="yt-full-video-template">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%=title%></h4>
      </div>
      <div class="modal-body">
        <p><%=summary%></p>
        <iframe width="560" height="315" src="http://www.youtube.com/embed/<%=videoId%>?rel=0" frameborder="0" allowfullscreen></iframe>
        <div class="yt-video-attention"></div>
        <h4>Where was this trending?</h4>
        <!--<p>This was most popular in <%=mostPopularCountry%>, where it was on the top trending list for <%=mostPopularDays%> days.</p>-->
      </div>
    </div>
  </div>
</script>
<script type="text/template" id="yt-video-attention-template">
  <h4>When was this trending?</h4>
</script>
<script type="text/template" id="yt-alert-template">
  <%=msg%>
</script>
<script type="text/template" id="yt-info-box-template">
  <div class="panel-heading">
    <button type="button" class="btn btn-default pull-right yt-close-btn">clear</button>
    <h2><%=title%></h2>
  </div>
  <div class="panel-body">
    <div class="row"><div class="col-md-12"><%=content%></div></div>
  </div>
</script>
<script type="text/template" id="yt-country-details-template">
  <p>Based on what they are watching, <%=countryName%> has the strongest connections with:
    <ul id="yt-related-list"></ul>
  </p>
  <ul class="nav nav-tabs" id="country-video-list-nav">
    <li class="active"><a href="#yt-country-top">Top Videos</a></li>
    <li><a href="#yt-country-unique">"Unique" Videos</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="yt-country-top"><ul class="yt-video-item-list"></ul></div>
    <div class="tab-pane" id="yt-country-unique"><ul class="yt-video-item-list"></ul></div>
  </div>
</script>
<script type="text/template" id="yt-video-item-template">
  <img width="120" height="90" src="http://img.youtube.com/vi/<%=videoId%>/default.jpg" data-video-id="<%=videoId%>"/>
</script>
<script type="text/template" id="yt-controls-template">
  <div class="btn-group" data-toggle="buttons-radio">
    <button type="radio" class="btn btn-default" name="timespan" value="0">All time</button>
    <button type="radio" class="btn btn-default" name="timespan" value="7">Last 7 days</button>
    <button type="radio" class="btn btn-default" name="timespan" value="30">Last 30 days</button>
  </div>
</script>

<!-- all the JS includes -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" charset="utf-8"></script>
  <!--<script src="/static/lib/jquery-1.10.2.min.js" charset="utf-8"></script>-->
<script src="/static/lib/underscore-min.js" charset="utf-8"></script>
<script src="/static/lib/backbone-min.js" charset="utf-8"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <!--<script src="/static/lib/bootstrap.min.js" charset="utf-8"></script>-->
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <!--<script src="/static/lib/d3.v3.min.js" charset="utf-8"></script>-->
<script src="http://d3js.org/d3.geo.projection.v0.min.js" charset="utf-8"></script>
  <!--<script src="/static/lib/d3.geo.projection.v0.min.js" charset="utf-8"></script>-->
<script src="/static/lib/topojson.v1.min.js" charset="utf-8"></script>

<!-- our application code -->
<script src="/static/lib/country-util.js" charset="utf-8"></script>
<script src="/static/app/app.js" charset="utf-8"></script>
<script src="/static/app/routes.js" charset="utf-8"></script>
<script src="/static/app/models.js" charset="utf-8"></script>
<script src="/static/app/views.js" charset="utf-8"></script>

<script>$(function(){ App.initialize(); });</script>

<!-- Piwik --> 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.vojo.co/" : "http://stats.vojo.co/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 4);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://stats.vojo.co/piwik.php?idsite=4" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->

  </body>
</html>