/* see http://www.colourlovers.com/palette/125988/Artificial_Growth */

body {
	margin-top: 10px;
}

#yt-map-container{
	border: 1px solid #eee;
	border-radius: 10px;
}

#yt-background > .yt-country {
	fill: #eee;
	stroke: rgb(255,255,255);
	stroke-width: 1px;
}

#yt-data .yt-country {
}

#yt-video-list-container h3 {
	margin-top: 0px;
	padding-top: 0px;
}

.yt-video-item-list > div > div {
	margin-bottom: 10px;
}

#yt-video-modal .modal-dialog {
	width: 620px;
}

#yt-alert {
	width: 350px;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	padding: 10px;
	font-size: small;
}

.yt-video-item-list img {
	cursor: pointer;
}

.yt-country-name {
}
